h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color: maroon;
}
h1{
    font-size: 80px;
}
p{
    font-size: 25px;
}
p {
    color:darkcyan;
}
body {
    background-color: bisque ;
}
h1 {
    font-size: 60px;
}
h1{    
    text-align: center;
    color: white;
    font-size: 48px;
    margin-top: 100px;
}

.welcome-text {
    width: 70%;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 22px;
    line-height: 1.8;
    background: rgba(0, 0, 0, 0.5);
    padding: 25px;
    border-radius: 15px;
}